/*pantalla pequeña*/
@media(min-width: 481px){
		ul{
		display: flex;
			}
		li{
			flex:auto;
		}
		.boton{
			display: none;
		}

}
@media(max-width:480px ){
	.todo{
		margin: 0 auto;
	}
	.instrumentos{
		margin: 0 auto;

	}
	.index-img{
		width: 80%;
		left: 10%	
	}
	.boton{
		width: 95%;
		text-align: right;
		padding-right: 5%;
		position: fixed;
		top: 0px;
		z-index: 11;
	}
	li{
		display: block;
		text-align: right;
		padding-right: 5%;
	}
	ul{width: 100%;
		position: fixed;
		left: -100%;
		z-index: 10;}
	.no-nav{
			position: relative;
			margin-top: 52px;
		}

}