.todo{
	margin:0px 20px 0px 20px;

}
body{
	background-image: url('../index.svg');
	background-size: 100% auto;
	background-repeat: repeat;
}
nav{
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
}

li{

	background: rgba(0,0,0,0.5);
	list-style: none;
	text-align: center;
	line-height: 3;
	border-bottom:4px solid  rgba(0,0,0,0);
	 transition-duration: 0.5s;
	 transition-timing-function: linear;
}
li:hover{
	border-bottom:2px solid #36948D;
	border-bottom-style: inset;
	background: rgba(0,0,0,0.6);
}
a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

.instrumentos{
	background: rgba(0,50,0,0.5);
	width: 100%;
	margin-top: 1px;
	padding: 2% 0% 2% 0%;
	
}
.content-circulos{
	display: flex;
	width: 80%;
	margin-left: 10%;
}
.index-img{
	flex:auto;
	height: 200px;
	background: rgba(255,255,2554,0.1);
	border-radius: 100%;
	margin: 1%;
	 transition-duration: 0.2s;
    transition-timing-function: linear;
    
}
.index-img:hover{
	background: rgba(255,255,2554,0.3);
}
.index-img img{
	width: 75%;
	height: 150px;
	margin-top: 20px;
	margin-left: 20px;	
}
i{
 color: rgba(255,255,255,0.8);
}


	
