nav{
	width: 100%;
	
}
ul{
	display: flex;
	padding: 0;
	margin: 0;
}
li{
	flex:auto;
	background: rgba(0,0,0,0.5);
	list-style: none;
	text-align: center;
	line-height: 3;
	border-bottom:4px solid  rgba(0,0,0,0);
}
li:hover{
	border-bottom:4px solid #36948D;
	border-bottom-style: inset;
}
a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}


body{
	
}
.todo{
	background: #5DB1AB;
	width: 100%;
}
.contenido{
	padding: 100px;
	color:white;
	max-height: 350px;
}
.sPrincipal{
	margin-top: 20px; 
	width: 92%;
	margin-left: 4%;
	background: #C7E5E3;
	border-radius: 10px;
}
.aPrincipal{
	padding: 20px;
}
.instrumentos{
	width: 50%;
	display: none;
	max-height: 100%;
	margin:0px 1px;
}
img{
	max-width: 48%;
	display: inline-block;
}
